<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="{% static '/js/main.js' %}"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static '/css/main.css' %}" rel="stylesheet">

    </head>
    <body>
        <audio class="audcls" controls preload="auto">
            <source src={{streamurl}} type="audio/mpeg">
        </audio>
        <form method="POST">
          {% csrf_token %}
          <p style="position:fixed;top:150px;left:250px;font-weight:700;font-size:30px;">{{title}}</p>
          <div class="lblcls" style="position:absolute;">
            {{form}}
          <input class="btn btn-primary sbtcls" type="submit" value="Submit">
          </div>
          <!-- <h1></h1> -->
        </form>
    </body>
</html>