<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static '/css/main.css' %}" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <title>{{title}}</title>
    </head>
    <body onload="return hide_div();">
        <audio class="audcls" controls preload="auto">
            <source src={{streamurl}} type="audio/mpeg">
        </audio>
        <form id="get_yt" method="POST">
          {% csrf_token %}
          <!-- <p style="position:fixed;top:150px;left:250px;font-weight:700;font-size:30px;">{{title}}</p> -->
          <center style="font-weight:700;font-size:30px;">{{title}}</center>
          <div class="lblcls" style="position:absolute;">
          <div style="top:500px;">
            {{form}}
          <input class="btn btn-primary sbtcls" type="submit" value="Submit">
          <input class="btn btn-primary download_links" type="button" value="Get download links" onclick="return get_links()">
          </div>
          </div>
          <!-- <h1></h1> -->
        </form>
        <div id="mp3" style="position:absolute;top:150px;left:500px;display:block;">{{mp3download}}</div>
        <!-- <script>$('div#mp3').html('<h1>qsdmlfkdsjm</h1>')</script> -->
        <script src="{% static '/js/main.js' %}"></script>
        <!-- <script type="javascript">
        	document.title=;
        </script> -->
        <!-- <iframe src="https://www.yt-download.org/api/button/mp3/Sk7dGwe2vJY" width="100%" height="100px" scrolling="no" style="border:none;"></iframe> -->
    </body>
</html>
